#calculator {
    width: 280px;
    margin: auto;
    margin-top: 100px;
    border: solid black;
    border-radius: 15px;
    background-color: rgba(212, 212, 212);
}

#screen {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    height: 100px;
    color: rgb(255, 246, 195);
    background-color: rgb(46, 46, 46);
    border-radius: 11px 11px 0px 0px;
    margin-bottom: 10px;
}

#clear {
    grid-column: 1/2;
    align-self: center;
    height: 60px;
}

#history {
    text-align: right;
    align-self: center;
    margin: 10px;
    grid-column: 1/7;
}

#value {
    grid-row: 2/3;
    text-align: center;
    align-self: center;
    margin: 10px;
}

#display {
    grid-row: 2/3;
    grid-column: 2/7;
    text-align: right;
    align-self: center;
    margin: 10px;
}

#buttons {
    display: grid;
    grid-gap: 5px;
    grid-area: buttons;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

p {font-size: x-large}

button {
    font-size: x-large;
    font-weight: bold;
    box-shadow: none;
    border: 0;
    background-color: rgb(212, 212, 212);
}

button:hover, .active {
    transition: all 400;
    scale: 1.03;
    background-color: rgba(255, 171, 103, 0.541);
    box-shadow: rgb(206, 206, 206) 3px 2px;
    border: thin solid rgba(122, 122, 122, 0.493);
}

.addsub, .multdiv, .equals{
    background-color: rgb(198, 196, 221);
}

#equals {
    grid-column: 3/5;
    background-color: rgb(255, 103, 103);
}

#equals:hover {
    background-color: rgb(255, 70, 70);
}
