#whole {
    width: 270px;
    border: solid black;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 50px;
    margin: 0px;
    color: rgb(80, 0, 0);
}

#screen {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    height: 100px;
}

#clear {
    grid-column: 1/2;
    align-self: center;
    margin: 10px;
    height: 40px;
    width: 36.2833px;
}

#value {
    text-align: center;
    align-self: center;
    margin: 10px;
}

#display {
    text-align: right;
    align-self: center;
    margin: 10px;
}

#buttons {
    margin: 3px;
    display: grid;
    grid-area: buttons;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

p {font-size: x-large}

button {
    margin: 3px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(198, 196, 221);
}

button:hover {
    transition: all 400;
    scale: 1.09;
    background-color: rgb(204, 162, 162);
    box-shadow: rgb(206, 206, 206) 3px 2px;
    border: thin solid rgba(122, 122, 122, 0.493);
}

.operators {
    margin: 4px;
    grid-column: 4/5;
}

#equals {
    grid-row: 4/5;
    grid-column: 3/4;
    margin: 4px;
}

#comma {
    grid-row: 4/5;
    grid-column: 2/3;
    margin: 4px;
}

.numbers {
    margin: 4px;
    height: 55px;
}